html {
  overflow-y: scroll;
  font-family: "Open Sans", "Helvetica", "Verdana", sans-serif;
}

textarea, input[type="text"] {
  font-family: "Roboto mono" !important;
}

pre {
  margin-top: 0;
  margin-bottom: 0;
}

code {
  padding: .2em .4em;
  margin: 0;
  font-size: 85%;
  background-color: rgba(27,31,35,.05);
  border-radius: 3px;
}

pre {
  word-wrap: normal;
}

pre>code {
  padding: 0;
  margin: 0;
  font-size: 100%;
  word-break: normal;
  white-space: pre;
  background: transparent;
  border: 0;
}

pre {
  padding: 16px;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  background-color: #f6f8fa;
  border-radius: 3px;
}

pre code {
  display: inline;
  max-width: auto;
  padding: 0;
  margin: 0;
  overflow: visible;
  line-height: inherit;
  word-wrap: normal;
  background-color: initial;
  border: 0;
}

.arrow_box {
  position: relative;
  background: rgba(249,227,208, 0.3);
  border: 3px solid #c2e1f5;
}

.arrow_box:after, .arrow_box:before {
  right: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}


.arrow_box:before {
  border-right-color: rgba(249,227,208, 0.3);
  border-width: 20px;
  margin-top: -20px;
}
