let config =
  { port = 3000
  , appKeyFilePath = ""
  , dbConfig = {
    dbPort = 5433
    , dbName = ""
    , dbUser = ""
    , dbPassword = ""
    }
  , mailgun = {
    domain = ""
    , apiKey = ""
    , authorEmail = ""
    }
  }

in
  config