let config =
  { port = 3000
  , appKeyFilePath = ".appKey.test"
  , db = { port = 5433
         , name = ""
         , user = ""
         , password = ""
         }
  , github = { clientId = ""
             , clientSecret = ""
             }
  }

in
  config