let config =
  { port = 3000
  , appKeyFilePath = ".appKey.test"
  , mailgun = {
    domain = "someDomain"
    , apiKey = "someApiKey"
    , authorEmail = "mailgun@sandbox4818ed69121942ec8a93c28bef0e0edd.mailgun.org"
    }
  }

in
  config