#app {
  display: flex;
  flex-direction: row;
  align-content: stretch;
  align-self: stretch;
}

#app * {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  align-self: stretch;
  align-content: stretch;
}

#tree {
  max-width: 200px;
}

#builder {
  flex-direction: column;
}

#urlInput {
  padding-left: 5px;
}
