#builder #urlBuilder {
  display: flex;
}

#builder #urlBuilder .urlOption {
  padding: 0.5em 1em;
}

#builder #urlBuilder #urlInput {
  flex-grow:1;
}

#builder #headersBuilder textarea {
  width: 100%;
}

#builder #bodyBuilder textarea {
  width: 100%;
}

#builder #responseBody textarea {
  width: 100%;
}
