#treeView .dropZone {
  background-color: lightGrey;
  height: 1rem;
}

#treeView .dropZone.notDroppable {
  background-color: #F5F5F5;
  height: 2rem;
}

#treeView .dropZone.is-over {
  background-color: blue;
}
