#buildersNavBar {
  display: flex;
  font-size: 1.15rem;
  line-height: 1.4;
  margin-bottom: 1rem;
}

#buildersNavBar li {
  padding: 0.5em 1em;
}

#buildersNavBar li a {
  color: #4a4a4a;
}

#buildersNavBar li.isActive {
  order-bottom-color: #3273dc;
  color: #3273dc;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

#buildersNavBar li.isActive a {
  color: #3273dc;
}

#buildersNavBar li .closeBuilder {
  margin-left: 1rem;
}
